In [1]:
# Libraries and dependencies
import os
import alpaca_trade_api as tradeapi
import pandas as pd 

from dotenv import load_dotenv

%matplotlib inline

In [2]:
# Loading .env 
load_dotenv()

True

In [3]:
# Set Alpaca API key/ secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Conection
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2")

In [4]:
# Gathering data with the api conection and creating a dataframe
# Set ticekers
tickers_crypto = ["BTC", "ETH", "BNB", "ADA", "XRP", "LTC", "LINK", "BCH", "VET", "XLM"]
tickers_stocks = ["MSFT", "AAPL", "TSLA", "AMZN", "NVDA", "GOOG", "FB", "ADBE", "NFLX", "PYPL"]

# Setting time frame to 1D
timeframe = "1D"

# Set the start/ end datetime of 5 years from today 
start_date = pd.Timestamp("2019-11-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp.now(tz="America/New_York").isoformat()

# Set limit of rows to the max to maximaize
limit_rows = 1000

# Get the 2 years data frame for stocks
stocks_df = api.get_barset(
    tickers_stocks,
    timeframe,
    start = start_date,
    end = end_date,
    limit = limit_rows).df

# Visualazing the data 
stocks_df.head()

                             AAPL                                        ADBE  \
                             open     high      low   close    volume    open
time
2019-11-01 00:00:00-04:00  249.54  255.930  249.160  255.84  35281756  279.14
2019-11-04 00:00:00-05:00  257.33  257.845  255.380  257.48  23618001  280.56
2019-11-05 00:00:00-05:00  257.05  258.190  256.320  257.15  17738372  292.20
2019-11-06 00:00:00-05:00  256.84  257.490  255.365  257.24  15328064  289.11
2019-11-07 00:00:00-05:00  258.74  260.350  258.110  259.50  22267200  288.30

                                                              ...    PYPL  \
                             high       low   close   volume  ...    open
time                                                          ...
2019-11-01 00:00:00-04:00  281.83  277.2675  277.76  2413757  ...  104.70
2019-11-04 00:00:00-05:00  281.21  276.0500  277.62  2173646  ...  105.72
2019-11-05 00:00:00-05:00  292.88  283.6000  289.32  5717319  ...  103.05
2019-11-06 00:00:00-05:00  289.48  285.6100  287.36  2370563  ...  101.20
2019-11-07 00:00:00-05:00  293.48  286.9950  290.81  2664860  ...  100.94

                                                               TSLA          \
                             high      low   close   volume    open    high
time
2019-11-01 00:00:00-04:00  105.30  103.930  105.00  4067334  316.32  316.48
2019-11-04 00:00:00-05:00  105.76  102.605  102.79  4885673  314.80  321.94
2019-11-05 00:00:00-05:00  103.28  100.285  101.00  8202861  319.62  323.51
2019-11-06 00:00:00-05:00  101.34  100.170  100.62  5612352  318.00  326.72
2019-11-07 00:00:00-05:00  101.72  100.290  100.47  7545836  329.14  341.50


                               low    close    volume
time
2019-11-01 00:00:00-04:00  309.800  313.210   6178310
2019-11-04 00:00:00-05:00  309.260  317.425   8579754
2019-11-05 00:00:00-05:00  316.118  317.160   6308975
2019-11-06 00:00:00-05:00  314.500  326.700   7748529
2019-11-07 00:00:00-05:00  328.020  335.390  14148570

[5 rows x 50 columns]

In [7]:
# Get the 2 years data frame for crypto
crypto_df = api.get_barset(
    tickers_crypto,
    timeframe,
    start = start_date,
    end = end_date,
    limit = limit_rows).df

# Visualazing the data 
crypto_df.head()

                           ADA                           BCH                \
                          open high  low close volume   open   high    low
time
2019-11-01 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  25.73  26.01  25.73
2019-11-04 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  26.24  26.50  25.75
2019-11-05 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  25.83  25.93  24.99
2019-11-06 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  25.29  25.29  24.32
2019-11-07 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  25.22  25.79  23.34

                                          ...  XLM                         \
                           close  volume  ... open high  low close volume
time                                      ...
2019-11-01 04:00:00+00:00  25.94   64783  ...  NaN  NaN  NaN   NaN    NaN
2019-11-04 05:00:00+00:00  25.84   99348  ...  NaN  NaN  NaN   NaN    NaN
2019-11-05 05:00:00+00:00  25.67  335359  ...  NaN  NaN  NaN   NaN    NaN
2019-11-06 05:00:00+00:00  24.60  171455  ...  NaN  NaN  NaN   NaN    NaN
2019-11-07 05:00:00+00:00  24.63  386622  ...  NaN  NaN  NaN   NaN    NaN

                           XRP
                          open high  low close volume
time
2019-11-01 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN
2019-11-04 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN
2019-11-05 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN
2019-11-06 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN
2019-11-07 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN

[5 rows x 50 columns]

In [22]:
# Cleaning the data from stocks
clean_df_stocks = stocks_df.dropna()#.isnull().sum()
clean_df_stocks.head()

                             AAPL                                        ADBE  \
                             open     high      low   close    volume    open
time
2019-11-01 00:00:00-04:00  249.54  255.930  249.160  255.84  35281756  279.14
2019-11-04 00:00:00-05:00  257.33  257.845  255.380  257.48  23618001  280.56
2019-11-05 00:00:00-05:00  257.05  258.190  256.320  257.15  17738372  292.20
2019-11-06 00:00:00-05:00  256.84  257.490  255.365  257.24  15328064  289.11
2019-11-07 00:00:00-05:00  258.74  260.350  258.110  259.50  22267200  288.30

                                                              ...    PYPL  \
                             high       low   close   volume  ...    open
time                                                          ...
2019-11-01 00:00:00-04:00  281.83  277.2675  277.76  2413757  ...  104.70
2019-11-04 00:00:00-05:00  281.21  276.0500  277.62  2173646  ...  105.72
2019-11-05 00:00:00-05:00  292.88  283.6000  289.32  5717319  ...  103.05
2019-11-06 00:00:00-05:00  289.48  285.6100  287.36  2370563  ...  101.20
2019-11-07 00:00:00-05:00  293.48  286.9950  290.81  2664860  ...  100.94

                                                               TSLA          \
                             high      low   close   volume    open    high
time
2019-11-01 00:00:00-04:00  105.30  103.930  105.00  4067334  316.32  316.48
2019-11-04 00:00:00-05:00  105.76  102.605  102.79  4885673  314.80  321.94
2019-11-05 00:00:00-05:00  103.28  100.285  101.00  8202861  319.62  323.51
2019-11-06 00:00:00-05:00  101.34  100.170  100.62  5612352  318.00  326.72
2019-11-07 00:00:00-05:00  101.72  100.290  100.47  7545836  329.14  341.50


                               low    close    volume
time
2019-11-01 00:00:00-04:00  309.800  313.210   6178310
2019-11-04 00:00:00-05:00  309.260  317.425   8579754
2019-11-05 00:00:00-05:00  316.118  317.160   6308975
2019-11-06 00:00:00-05:00  314.500  326.700   7748529
2019-11-07 00:00:00-05:00  328.020  335.390  14148570

[5 rows x 50 columns]

In [23]:
# Cleaning the data from crypto
clean_df_crypto = crypto_df.fillna(0).isnull().sum()
clean_df_crypto

ADA   open      0
      high      0
      low       0
      close     0
      volume    0
BCH   open      0
      high      0
      low       0
      close     0
      volume    0
BNB   open      0
      high      0
      low       0
      close     0
      volume    0
BTC   open      0
      high      0
      low       0
      close     0
      volume    0
ETH   open      0
      high      0
      low       0
      close     0
      volume    0
LINK  open      0
      high      0
      low       0
      close     0
      volume    0
LTC   open      0
      high      0
      low       0
      close     0
      volume    0
VET   open      0
      high      0
      low       0
      close     0
      volume    0
XLM   open      0
      high      0
      low       0
      close     0
      volume    0
XRP   open      0
      high      0
      low       0
      close     0
      volume    0
dtype: int64