In [4]:
# Libraries and dependencies
import os
import alpaca_trade_api as tradeapi
import pandas as pd 

from dotenv import load_dotenv

%matplotlib inline

In [5]:
# Loading .env 
load_dotenv()

True

In [6]:
# Set Alpaca API key/ secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Conection
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2")

In [30]:
# Gathering data with the api conection and creating a dataframe
# Set ticekers
tickers_crypto = ["BTC", "ETH", "BNB", "ADA", "XRP", "LTC", "LINK", "BCH", "VET", "XLM"]
tickers_stocks = ["MSFT", "APPL", "TSLA", "AMZN", "NVDA", "GOOG", "FB", "ADBE", "NFLX", "PYPL"] 

# Setting time frame to 1D
timeframe = "1D"

# Set the start/ end datetime of 5 years from today 
start_date = pd.Timestamp("2016-11-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-11-01", tz="America/New_York").isoformat()

# Set limit of rows to the max to maximaize
limit_rows = 1000

# Get the 5 years data frame for crypto
tickers_data_stocks = api.get_barset(
    tickers_stocks,
    timeframe,
    start = start_date,
    end = end_date,
    limit = limit_rows).df

# Visualazing the data 
tickers_data_stocks

                             ADBE                                       \
                             open      high     low   close     volume
time
2017-11-08 05:00:00+00:00     NaN       NaN     NaN     NaN        NaN
2017-11-09 05:00:00+00:00     NaN       NaN     NaN     NaN        NaN
2017-11-10 05:00:00+00:00  181.00  182.0600  179.83  181.73  1333612.0
2017-11-13 05:00:00+00:00  180.50  182.3200  179.75  181.87   921311.0
2017-11-14 05:00:00+00:00  181.98  182.1700  180.31  181.31  1027338.0
...                           ...       ...     ...     ...        ...
2021-10-26 04:00:00+00:00  650.00  659.1900  642.10  642.50  1791165.0
2021-10-27 04:00:00+00:00  645.37  648.8053  639.81  640.34  1348887.0
2021-10-28 04:00:00+00:00  638.83  642.4900  633.27  639.28  1446775.0
2021-10-29 04:00:00+00:00  637.77  651.3100  637.00  650.34  1438936.0
2021-11-01 04:00:00+00:00  651.01  654.0000  634.78  640.44  1848376.0

                              AMZN                                           \
                              open     high        low     close     volume
time
2017-11-08 05:00:00+00:00      NaN      NaN        NaN       NaN        NaN
2017-11-09 05:00:00+00:00      NaN      NaN        NaN       NaN        NaN
2017-11-10 05:00:00+00:00  1125.50  1131.75  1124.0600  1125.340  1384133.0
2017-11-13 05:00:00+00:00  1123.00  1139.90  1122.3400  1129.210  1977018.0
2017-11-14 05:00:00+00:00  1130.11  1138.00  1123.8900  1136.840  2112409.0
...                            ...      ...        ...       ...        ...
2021-10-26 04:00:00+00:00  3350.01  3416.12  3343.9800  3375.890  2372879.0
2021-10-27 04:00:00+00:00  3389.83  3437.00  3371.4534  3393.325  2366378.0
2021-10-28 04:00:00+00:00  3400.43  3479.00  3386.0000  3444.500  4040885.0
2021-10-29 04:00:00+00:00  3300.03  3374.82  3273.3200  3372.430  5462617.0
2021-11-01 04:00:00+00:00  3366.04  3375.86  3292.0200  3317.990  3317329.0

                           ...    PYPL                                        \
                           ...    open      high     low   close      volume
time                       ...
2017-11-08 05:00:00+00:00  ...     NaN       NaN     NaN     NaN         NaN
2017-11-09 05:00:00+00:00  ...     NaN       NaN     NaN     NaN         NaN
2017-11-10 05:00:00+00:00  ...   73.77   74.1400   73.56   73.98   4225373.0
2017-11-13 05:00:00+00:00  ...   73.68   74.2900   73.34   74.03   3728766.0
2017-11-14 05:00:00+00:00  ...   74.10   74.8200   73.62   74.49   4503222.0
...                        ...     ...       ...     ...     ...         ...
2021-10-26 04:00:00+00:00  ...  249.35  249.8800  241.01  242.97  13086049.0
2021-10-27 04:00:00+00:00  ...  243.84  244.6899  233.92  234.92  17726064.0
2021-10-28 04:00:00+00:00  ...  237.30  237.9400  232.78  236.82  13315878.0
2021-10-29 04:00:00+00:00  ...  235.49  238.9000  231.71  232.54  11401765.0
2021-11-01 04:00:00+00:00  ...  232.70  233.5500  230.19  231.33  12812965.0

                              TSLA
                              open     high       low    close      volume
time
2017-11-08 05:00:00+00:00      NaN      NaN       NaN      NaN         NaN
2017-11-09 05:00:00+00:00      NaN      NaN       NaN      NaN         NaN
2017-11-10 05:00:00+00:00   302.50   308.36   301.850   302.92   3603353.0
2017-11-13 05:00:00+00:00   300.13   316.80   299.110   315.40   6019636.0
2017-11-14 05:00:00+00:00   314.43   316.35   306.900   308.70   4567972.0
...                            ...      ...       ...      ...         ...
2021-10-26 04:00:00+00:00  1024.70  1094.94  1001.440  1018.06  60207022.0
2021-10-27 04:00:00+00:00  1038.78  1070.88  1030.780  1038.00  35678056.0
2021-10-28 04:00:00+00:00  1068.03  1081.00  1054.200  1077.09  24517641.0
2021-10-29 04:00:00+00:00  1081.41  1115.21  1073.205  1114.18  27215436.0
2021-11-01 04:00:00+00:00  1145.01  1209.75  1118.660  1209.48  51136101.0

[1002 rows x 50 columns]

In [42]:
# Cleaning the data from crypto
clean_data_stocks = tickers_data_stocks.isnull().sum()
clean_data_stocks
#print(len(clean_data_stocks))

ADBE  open         2
      high         2
      low          2
      close        2
      volume       2
AMZN  open         2
      high         2
      low          2
      close        2
      volume       2
APPL  open      1002
      high      1002
      low       1002
      close     1002
      volume    1002
FB    open         2
      high         2
      low          2
      close        2
      volume       2
GOOG  open         2
      high         2
      low          2
      close        2
      volume       2
MSFT  open         2
      high         2
      low          2
      close        2
      volume       2
NFLX  open         2
      high         2
      low          2
      close        2
      volume       2
NVDA  open         2
      high         2
      low          2
      close        2
      volume       2
PYPL  open         2
      high         2
      low          2
      close        2
      volume       2
TSLA  open         2
      high         2
      low          2
      close        2
      volume       2
dtype: int64